<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src={{avatar}} alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      {{User}}
    </a>
    {{#if carritoExiste}}
    <a class="btn btn-primary" href="/api/carrito/{{id}}/productos" role="button">Ir al carrito</a>
    {{else}}
    <form action="/api/carrito" method="post" >
        <button class="btn btn-outline-success me-2" name="nombre" value="{{id}}">Crear carrito</button>
    </form>
    {{/if}}
    <a class="btn btn-primary" href="/login/logout" role="button">Logout</a>
    </div>
</nav>
<div class="text-bg-info p-3">
    <h1>Productos</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody>
        {{#each prods}}
        <tr>
            <td>{{this.nombre}}</td>
            <td>{{this.precio}}</td>
            <td>
                <img src={{this.imagen}} class="img-thumbnail img-fluid" height="150" width="150">
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>
